#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.dbmdl
**/ipch
**/[Bb]uild
**/[Oo]bj
**/[Bb]in
**/[Ll]ib
**/[Bb]in_*
**/[Ll]ib_*
**/[Dd]ebug*
**/[Rr]elease*
**/[Ww]in32
**/[Xx]64
**/[Ii]nclude
**/[Ii]nstall
**/.idea
.vs/
testCaseCollection.xml

#Java
*.jar
*.project
*.class
*.classpath
*.settings
G2SCoreProxy_WrapJava/mmcorej/
G2SCoreProxy_WrapJava/*.user
G2SCoreProxy_WrapJava/*.cxx
G2SCoreProxy_WrapJava/*.h

#XCode
*.xccheckout
*.xcscheme
*.xcbkptlist
*.xcsettings
*.xcuserstate
*.xcscmblueprint
xcschememanagement.plist

*.db
*.zip
buildout32\.txt
buildout64\.txt
Config/asi_stage_test_4\.cfg
go2scope-mm-buildout64\.txt
*.lnk
G2SClientC/doc/html/
python/dataset/__pycache__/
*.pyc
